"""
The class B{} 

	>>>

@version: null
@todo: null
@deprecated: null
@since: null
@status: null
@change: null
@permission: null

@requires: null
@precondition: null
@postcondition: null
@invariant: null

@group g: 
@sort:	

@summary: null
@see: null

@note: null
@attention: null
@bug: null
@warning: null
"""
